<div class="container vh-100">
  <div clas="row">
    <h2 class="text-center text-white shadow-sm my-3">会員一覧</h2>

    <!--会員リスト-->
    <%= render 'admin/members/index', members: @members %>

  </div>
</div>
<div class="d-flex justify-content-center">
  <%= paginate @members %>
</div>