main {
  background-image: image-url('onsen.jpg');
  background-color: rgba(255,255,255,0.5);
  background-blend-mode: lighten;
  height: 100%;
  background-position: center;
  background-size: cover;
}