<div class="container vh-100">
  <h2 class="text-center text-white shadow-sm mt-3">検索結果</h2>

  <!-- タグリスト -->
  <%= render 'public/onsens/tag_list', tag_list: @tag_list %>

  <!-- 温泉カードリスト -->
  <%= render 'public/onsens/index', onsens: @onsens %>

</div>
<div class="d-flex justify-content-center">
  <%= paginate @onsens %>
</div>