<div class="container text-center vh-100">
  <div class="pt-5">
    <h1 class="title">温泉</h1>
    <badge><font size="5">- Hot Spring -</font></badge>
    <p class="about-string mt-5">古来より人々に親しまれてきた癒しの空間<br />
       <font size="6">美しき日本の文化「温泉」</font></p>
    <p class="about-string mt-5">季節ごとに変わる景観を楽しみながら、湯につかる。<br />
    　 そうすれば、きっと貴方の鬱屈した気分や溜まった疲れもきっと癒されるはず。<br />
    　 「ゆ探歩」は、様々な温泉を紹介し、貴方の理想の温泉探しをサポートするWebアプリです。</p>
  </div>
</div>