<div class="container text-center vh-100">
  <div class="about_text py-4 mt-5">
    <h1 class="about-title">温泉</h1>
    <badge class="font1">- Hot Spring -</badge>
    <p class="about-string mt-3">古来より人々に親しまれてきた癒しの空間<br />
       <span class="font2">美しき日本の文化「温泉」</span></p>
    <p class="about-string mt-3">季節ごとに変わる景観を楽しみながら、湯につかる。<br />
       そうすれば、きっと貴方の鬱屈した気分や溜まった疲れもきっと癒されるはず。<br />
       「ゆ探歩」は、様々な温泉を紹介し、貴方の理想の温泉探しをサポートするWebアプリです。</p>
    <div class="mx-auto mb-3">
      <%= image_tag "people_bathing_in _onsen.png", size: "300x250" %>
    </div>
  </div>
</div>