<div class="container vh-100">
  <h2 class="text-center text-white shadow-sm mt-3">マイページ</h2>
  <div class="row mt-5">
    <div class="col-5 pl-5">
      <%= image_tag @member.get_profile_image(300,300), class: 'image' %>
    </div>
    <div class="col-7" >
      <table class="table table-bordered text-center shadow-sm">
        <tbody>
          <tr>
            <th class="table-title">
              ニックネーム
            </th>
            <td class="table-body">
              <%= current_member.name %>
            </td>
          </tr>
          <tr>
            <th class="table-title">
              メールアドレス
            </th>
            <td class="table-body">
              <%= current_member.email %>
            </td>
          </tr>
        </tbody>
      </table>
      <% if current_member.name != "guestmember" %>
        <div class="text-right">
          <%= link_to '編集する', my_page_edit_members_path, class: "btn btn-success mt-3" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
