<div class="container vh-100">
  <h2 class="text-center text-white shadow-sm my-5">本当に退会されますか？</h2>
  <div>
    <table class="text-center mx-auto shadow-sm table-confirm">
      <thead class="table-title">
        <th class="p-4">
          退会すると、一部のページ以外は閲覧不可となります。<br>
          退会する場合は、「退会する」をクリックしてください。
        </th>
      </thead>
      <tbody class="table-body">
        <td class="row p-5">
          <div class="col-2"></div>
          <%= link_to "退会しない", my_page_members_path, class: "btn btn-primary col-3" %>
          <div class="col-2"></div>
          <%= link_to "退会する", withdraw_members_path, method: :patch, data: { confilm: "本当に退会しますか？" }, class: "btn btn-danger col-3" %>
          <div class="col-2"></div>
        </td>
      </tbody>
    </table>
  </div>
</div>