<table class="mt-3 shadow-sm">
  <th class="list-title text-center p-3">タグリスト</th>
  <td class="body p-3">
    <% tag_list.each do |list| %>
      <%=link_to list.tag_name, search_tag_path(tag_id: list.id) %>
      <%= "(#{list.onsens.count})" %>
    <% end %>
  </td>
</table>