<div class="row my-4">
  <table class="text-center shadow-sm">
    <thead style="background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%)">
      <th width="300", class="p-2">タグ</th>
    </thead>
    <tbody style="background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%)">
      <td class="p-3">
        <% onsen_tags.each do |tag| %>
          <%= link_to tag.tag_name, search_tag_path(tag_id: tag.id) %>
          <%= "(#{tag.onsens.count})" %>
        <% end %>
      </td>
    </tbody>
  </table>
</div>