<div class="row my-4">
  <table class="text-center shadow-sm">
    <thead>
      <th class="table-title p-2">タグ</th>
    </thead>
    <tbody class="body">
      <td class="p-3">
        <% onsen_tags.each do |tag| %>
          <%= link_to tag.tag_name, search_tag_path(tag_id: tag.id) %>
          <%= "(#{tag.onsens.count})" %>
        <% end %>
      </td>
    </tbody>
  </table>
</div>