/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .font1 {
  font-size: 30px;
 }

 .font2 {
  font-size: 40px;
 }

 .new-title {
  line-height: 50px;
 }

 .btn-circle {
  display: inline-block;
  text-decoration: none !important;
  color: #FFF;
  width: 130px;
  height: 130px;
  line-height: 130px;
  border-radius: 50%; /*要素の境界の外側の角を丸める*/
  text-align: center;
  font-weight: bold; /*フォントを太字に指定*/
  overflow: hidden; /*領域をはみ出した部分を表示しない*/
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  transition: .4s;
 }

 .btn1 {
  background: #5D99FF;
 }

 .btn2 {
  background: #33CC66;
 }

 .btn3 {
  background: #888888;
 }

 #flash_message_none {
  display: none;
 }

 h2 {
  position: relative;
  padding: 0.5em;
  background: linear-gradient(-225deg, #CBBACC 0%, #2580B3 100%);
  color: white;
  text-shadow:2px 2px 3px #888888;
 }

 h2:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(58, 2, 39);
}

.about_text {
  background: #f8e39f;
  box-shadow: 0px 0px 0px 10px #f8e39f;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
}

h3  {
  border-style: inset;
  background: linear-gradient(-225deg, #CBBACC 0%, #2580B3 100%);
  text-shadow:2px 2px 3px #888888;
}

.link {
  text-decoration: none !important;
}